html body header {
  margin: 0;
}
html body header .sec1 {
  width: 100%;
  display: grid;
  grid-template-columns: 600px auto;
}
html body header .sec1 img {
  padding-top: 10px;
  padding-left: 30%;
}
@media all and (max-width: 800px) {
  html body header .sec1 img {
    padding-left: 10%;
  }
}
html body header .sec1 .topnav {
  padding-left: 30%;
  display: grid;
  grid-template-columns: 80px 80px 80px auto;
}
html body header .sec1 .topnav a {
  float: left;
  display: block;
  color: rgba(0, 0, 0, 0.479);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
html body header .sec1 .topnav a:hover {
  color: rgba(0, 0, 0, 0.692);
}
html body header .sec1 .topnav .active {
  color: rgb(0, 0, 0);
}
html body header .sec1 .topnav .active:hover {
  color: rgb(0, 0, 0);
}
html body header .sec1 .topnav .search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 50px;
  outline: none;
}
html body header .sec1 .topnav .search-container button {
  position: relative;
  left: -9%;
  margin-right: 16px;
  background: rgba(255, 255, 255, 0);
  font-size: 17px;
  border: none;
  cursor: pointer;
}
@media all and (max-width: 800px) {
  html body header .sec1 .topnav .search-container button {
    position: relative;
    left: -15%;
  }
}
@media all and (max-width: 800px) {
  html body header .sec1 .topnav {
    padding-left: 0;
    display: grid;
    grid-template-columns: 70px 70px 70px auto;
  }
}
@media all and (max-width: 800px) {
  html body header .sec1 {
    grid-template-columns: 100px auto;
  }
}
@media all and (max-width: 1150px) {
  html body header .sec1 {
    grid-template-columns: 100px auto;
  }
}
html body header .sec2 {
  width: 80%;
  margin: 0 10%;
  font-size: 20px;
  margin-top: 0;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.603);
}
html body header .sec2 h1 {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
  color: #000;
}
html body header .sec3 {
  width: 80%;
  margin: 0 10%;
}
html body header .sec3 p {
  font-size: 25px;
  margin-bottom: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html body header .sec3 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  row-gap: 25px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
html body header .sec3 .grid .gr_1 {
  border: 1px solid rgba(0, 0, 0, 0.226);
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  display: grid;
}
html body header .sec3 .grid .gr_1 .image {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body header .sec3 .grid .gr_1 .text {
  padding: 7%;
}
html body header .sec3 .grid .gr_1 .text a {
  text-decoration: none;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.89);
  font-family: "Times New Roman", Times, serif;
}
html body header .sec3 .grid .gr_1 .text p {
  font-size: 17px;
  text-decoration: none;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.459);
  line-height: 25px;
  font-family: "Times New Roman", Times, serif;
}
html body header .sec3 .grid .gr_1 .text .lo_go {
  width: 50px;
  height: 45px;
  border-radius: 50%;
  margin-top: 30px;
  float: left;
}
html body header .sec3 .grid .gr_1 .text .t_t {
  float: left;
  padding-left: 13%;
  margin-top: 35px;
  font-size: 15px;
}
@media all and (max-width: 1150px) {
  html body header .sec3 .grid {
    grid-template-columns: 1fr 1fr;
  }
  html body header .sec3 .grid .gr_1 {
    grid-template-columns: 1fr;
    height: 600px;
  }
}
@media all and (max-width: 800px) {
  html body header .sec3 .grid {
    grid-template-columns: 1fr;
  }
  html body header .sec3 .grid .gr_1 {
    grid-template-columns: 1fr;
    height: 600px;
  }
}
html body header .sec4 {
  width: 80%;
  margin: 0 10%;
}
html body header .sec4 p {
  font-size: 25px;
  margin-bottom: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html body header .sec4 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  row-gap: 25px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
html body header .sec4 .grid .gr_1 {
  border: 1px solid rgba(0, 0, 0, 0.226);
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  display: grid;
}
html body header .sec4 .grid .gr_1 .image {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body header .sec4 .grid .gr_1 .text {
  padding: 7%;
}
html body header .sec4 .grid .gr_1 .text a {
  text-decoration: none;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.89);
  font-family: "Times New Roman", Times, serif;
}
html body header .sec4 .grid .gr_1 .text p {
  font-size: 17px;
  text-decoration: none;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.459);
  line-height: 25px;
  font-family: "Times New Roman", Times, serif;
}
html body header .sec4 .grid .gr_1 .text .lo_go {
  width: 50px;
  height: 45px;
  border-radius: 50%;
  margin-top: 30px;
  float: left;
}
html body header .sec4 .grid .gr_1 .text .t_t {
  float: left;
  padding-left: 13%;
  margin-top: 35px;
  font-size: 15px;
}
@media all and (max-width: 1150px) {
  html body header .sec4 .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 800px) {
  html body header .sec4 .grid {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */